/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #5d4fff;
}

::-webkit-scrollbar-thumb {
  background: #efefef;
  border-radius: 100px;
  border: 2px solid #5d4fff;
  background-clip: padding-box;
  min-height: 40px;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: #c55fff;
  border-color: #5d4fff;
  transform: scale(1.05);
}

